<i><img src="assets/img/subvision_small.svg">
  <svg appLogo [size]="20" *ngIf="showLogo || file?.type === 'file'"/>
</i>

<span class="content">
  <ng-icon *ngIf="file?.type === 'directory' && !goBack" name="jamFolder"
           size="20"></ng-icon>
  <ng-icon *ngIf="goBack" name="jamArrowLeft" size="20"></ng-icon>
  <div *ngIf="file && !session" class="infos">
    {{ file.name }}
  </div>
  <div *ngIf="session" class="infos">
    {{ session.title }}
    <p>{{ session.date | date:'dd/MM/yyyy' }}</p>
    <p>{{ session.size.toFixed(1) }}Mo</p>
  </div>
  <div *ngIf="url" class="fileInfos">
    <span>{{ url }}</span>
  </div>
  <a *ngIf="!goBack">
    <ng-icon [name]="selected?'jamCheck':'jamChevronRight'" size="20"></ng-icon>
  </a>
</span>


