<article class="no-elevate round large large-padding middle-align">
  <div class="large-padding">
    <h2 class="titre">{{ 'HOME.WELCOME' | translate }}</h2>
    <h6 class="subtitle">{{ 'HOME.WELCOME_SUBTITLE' | translate }}</h6>
    <nav>
      <button class="extra">
        Commencer à scanner
      </button>
    </nav>
  </div>
</article>
<div class="large-space"></div>
<section class="responsive">
  <div class="padding">
    <h3 class="titre ">{{ 'HOME.ACTUALITIES' | translate }}</h3>
    <h6 class="subtitle ">{{ 'HOME.ACTUALITIES_SUBTITLE' | translate }}</h6>
  </div>
  <div class="grid">

    @for (actualite of actualites; track $index) {
      <div class="s12 m6 l6">
        <article ripple class="round no-elevate no-padding wave"
                 [style]="{
  }" (click)="openActualite(actualite)">
          <img *ngIf="actualite.illustration" [src]="actualite.illustration" class="responsive large">
          <div class="large-padding">
            <h6>{{ actualite.title }}</h6>
            <p>{{ actualite.date| date:'shortDate' }}</p>
          </div>
        </article>
      </div>

    }


    <div *ngIf="actualites.length == 0" class="actualite">
      <app-loading [loading]="actualitesLoading"></app-loading>

      <app-empty-text *ngIf="!actualitesLoading" text="{{'HOME.NO_ACTUALITY'| translate}}"></app-empty-text>
    </div>
  </div>
  <ng-container *ngIf="ParametersService.isLocalSave()">
    <div class="large-space "></div>
    <div class="horizontal middle-align padding">
      <h3>{{ 'HOME.RECENTLY_OPENED' | translate }}</h3>
      <button ripple *ngIf="seances.length != 0" class="chip no-wrap"
              routerLink="/sessions">{{ 'HOME.SHOW_ALL' | translate }}
      </button>
    </div>
    <div class="grid">
      <app-session-item (click)="openSession(seance)" [url]="seance" *ngFor="let seance of seances" [showLogo]="true">
      </app-session-item>
      <app-empty-text *ngIf="seances.length == 0" text="{{'HOME.NO_SESSION'|translate}}"></app-empty-text>
    </div>
  </ng-container>

</section>


