@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;1,100&display=swap");

:root {
  --font: 'Roboto', sans-serif;
}

body {
  //background: var(--theme-color-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100dvh;
    box-sizing: border-box;
  }
}

main {
  overflow: scroll;
}
